@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("duelingnexus.com") {
.game-card-negated {/*moves the negated symbol behind the selection window*/
    z-index: 5;
}
#game-selection-window {/*adds a scrollbar to various in-duel pop-ups, such as the graveyard and banished zone.*/
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #f0f0f0f0;
    overflow-y: scroll;
    margin-top: 3vh;
    margin-left: 30vw;
    height: 38vh;
    width: 60vw;
    z-index: 6;
    cursor: s-resize;
}
.game-selection-card {/*adds space between the card images so you can see the field below*/
    margin: 1vh 1vw 1vh 1vw;
    z-index: 7;
}

}
