@-moz-document url-prefix("https://duelingnexus.com/editor/") {
html {
.editor-search-result {/*A nice even table without that bulging middle.*/
    border: 2px solid;
    border-collapse: collapse;
    cursor: pointer;
    width: 50.19%;
    margin: 0 -2px -2px 0;
}
.editor-search-card {/*This allows the card name to move over the image.*/
    width: 33%;
    float: left;
    position: relative;
}
.editor-search-description {/*This allows the card name to move over the image.*/
    -webkit-transition-duration: 2s ease-in-out;
    -moz-transition-duration: 2s ease-in-out;
    -ms-transition-duration: 2s ease-in-out;
    -o-transition-duration: 2s ease-in-out;
    transition-duration: 2s ease-in-out;
    font-size: 0.625em /*1em*/;
    margin-left: 33%;
    position: absolute;
}
.editor-search-description:hover {/*This moves the card name above the image, so you can read the longer names.*/
    -webkit-transition-duration: 2s ease-in-out;
    -moz-transition-duration: 2s ease-in-out;
    -ms-transition-duration: 2s ease-in-out;
    -o-transition-duration: 2s ease-in-out;
    transition-duration: 2s ease-in-out;
    overflow: visible;
    margin-left: 0px;
    position: absolute;
}

}
