@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("https://duelingnexus.com/game"), url-prefix("https://duelingnexus.com/editor") {
body {
    font-size: 2vh;
}
#card-name {
    font-size: 2em;
    text-align: center;
    border: 1px dashed antiquewhite;
}
#card-picture {/*"%" represents what percentage of the #card-column this image file takes up.*/
    width: 55% /*45%*/;
}
#card-description-box {/*The cursor property is there for our Mac users, who's scrollbars are hidden unless in use. If you want a regular cursor, remove the "    cursor: s-resize;" line.*/
    font-size: 1.5em;
    text-align: justify;
    border: 1px dashed antiquewhite;
    cursor: s-resize;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 25vh !important;
}
#game-chat-area {/*This is the box that contains the chat to a confined space. It's the heart of this Stylish.*/
    height: 12vh !important;
    width: 25%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px dashed antiquewhite;
    font-size: 1em;
}
.engine-text-box {/*This is the smaller box where you type into.*/
    font-size: 1em;
    border: 3px double #f0f0f0;
    box-sizing: border-box;
    height: 4vh;
    width: 23vw;
    position: fixed;
    bottom: 7px;
    left: 7px;
}
/*Values in notes are the recommended changes for lower resolutions. However, they are only recommendations, so feel free to change this value to whatever suits your screen best.*/;
}
