@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("duelingnexus.com/game"), url-prefix("duelingnexus.com/editor") {
 body {
    font-size: 16px /*Note: You can change this number to "14px" or less if your resolution is 1280x720 or less. This will make the text smaller. (Default value is 16px)*/;
}
  #card-name {
    text-align: center;
    border: 1px dashed antiquewhite;
    font-size: 2em;
}
  #card-picture {
    width: 55% /*45%*/;
}
  #card-description-box {
    height: 25vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: justify;
    border: 1px dashed antiquewhite;
    font-size: 1.5em;
}
#game-chat-area {/*This is the box that contains the chat to a confined space. It's the heart of this Stylish.*/
    height: 12vh !important;
    width: 25%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px dashed antiquewhite;
    font-size: 1em;
}
.engine-text-box {/*This is the smaller box where you type into.*/
    height: 4vh;
    width: 23vw;
    box-sizing: border-box;
    border: 3px double #f0f0f0;
    position: fixed;
    bottom: 7px;
    left: 7px;
    font-size: 1em;
}
/*Values in notes are the recommended changes for lower resolutions. However, they are only recommendations, so feel free to change this value to whatever suits your screen best.*/
}
